body{
    background-image: url("../img/500.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
*{
    overflow: hidden;
}