<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas</title>
    <link rel="stylesheet" href="../Css/frame_14/style_f14.css">
</head>
<body>
    <header>
        <div class="blanco"></div>
            <div class="dec"></div>
            <div class="dec2"></div>
            <h1>Pagina principal</h1>
            <img src="../img/Adopt.jpg" alt="Logo" class="logo">
    </header>
    <section id="Contenido">
        <div class="menu">
            <div class="menu">
                <nav>
                    <ul class="list">

                        <li>
                            <a href=""><img src="../img/iconusuario.png" alt=""></a>
                        </li>
                        <li>
                            <a href=""><img src="../img/iconcampana.png" alt=""></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <section id="separacion">
            <div class="animales">
                <a href="../templates/frame_13.html" class="texto-1">
                    <div class="imagen">
                        <img src="../img/gato1.jpg" alt="">
                        <h1>Esponja</h1>
                    </div>
                </a>
                <a href="../templates/frame_13.html" class="texto-2">
                    <div class="imagen">
                        <img src="../img/perro1.webp" alt="">
                        <h1>Pedro</h1>
                    </div>
                </a>
                <a href="../templates/frame_13.html" class="texto-3">
                    <div class="imagen">
                        <img src="../img/perro4.jpg" alt="">
                        <h1>Loco</h1>
                    </div>
                </a>
                <a href="../templates/frame_13.html" class="texto-4">
                    <div class="imagen">
                        <img src="../img/perro2.webp" alt="">
                        <h1>Chad</h1>
                    </div>
                </a>
                <a href="../templates/frame_13.html" class="texto-5">
                    <div class="imagen">
                        <img src="../img/perro3.jpg" alt="">
                        <h1>Manuel</h1>
                    </div>
                </a>
                <div class="texto-6">
                    <div class="imagen">
                        <a href=""> Nuevo <br> registro </a>
                    </div>
                </div>
            </div>
        </section>

    </section>
    
</body>
</html>