<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/punt17/style.css">
</head>
<body>
    <section id="cabeza">
        <header id="inicio">
            <div class="blanco"></div>
            <div class="dec"></div>
            <div class="dec2"></div>
            <h1>Pagina principal</h1>
            <img src="../img/Adopt.jpg" alt="Logo" class="logo">
        </header>
    </section>

    <div class="separation"></div>

    <section id="principal">
        <header>
            <div class="menu">
                <div class="contenedor">
                    <nav>
                        <ul class="list">
                            <li>
                                <a href="../templates/frame_17.html"><img src="../img/iconperro.png" alt=""></a>
                            </li>
                            <li>
                                <a href="../templates/frame_17.html"><img src="../img/icongato.png" alt=""></a>
                            </li>
                            <li>
                                <a href="../templates/frame_18.html"><img src="../img/iconcasa.png" alt=""></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="contenedor" id="content">
                <h2> ¿ Estas listo <br> para adoptar? </h2>
            </div>
        </header>
    </section>
    
    <div class="separation"></div>

    <section id="tema">
        <a href="/templates/frame_13.html" class="almacena" id="almacena-1">
            <div class="texto">
                <div class="imagen">
                    <img src="../img/perro1.webp" alt="">
                    <h1>Pedro</h1>
                </div>
            </div>
            <div class="texto">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem voluptatum nisi quisquam nobis, 
                    facere sint laboriosam maxime consequuntur saepe quia ipsa iste fugit, dicta expedita, eos aspernatur. 
                    Perferendis, sint quis?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste molestiae aut dolores praesentium fugiat laudantium iusto magni.
                </p>
            </div>
        </a>
        <a href="/templates/frame_13.html" class="almacena" id="almacena-2">
            <div class="texto">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem voluptatum nisi quisquam nobis, 
                    facere sint laboriosam maxime consequuntur saepe quia ipsa iste fugit, dicta expedita, eos aspernatur. 
                    Perferendis, sint quis?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste molestiae aut dolores praesentium fugiat laudantium iusto magni.
                </p>
            </div>
            <div class="texto">
                <div class="imagen">
                    <img src="../img/perro2.webp" alt="">
                    <h1>Roberto</h1>
                </div>
            </div>
        </a>
        <a href="/templates/frame_13.html" class="almacena" id="almacena-3">
            <div class="texto">
                <div class="imagen">
                    <img src="../img/gato1.jpg" alt="">
                    <h1>Esponja</h1>
                </div>
            </div>
            <div class="texto">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem voluptatum nisi quisquam nobis, 
                    facere sint laboriosam maxime consequuntur saepe quia ipsa iste fugit, dicta expedita, eos aspernatur. 
                    Perferendis, sint quis?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste molestiae aut dolores praesentium fugiat laudantium iusto magni.
                </p>
            </div>
        </a>
        <a href="/templates/frame_13.html" class="almacena" id="almacena-4">
            <div class="texto">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem voluptatum nisi quisquam nobis, 
                    facere sint laboriosam maxime consequuntur saepe quia ipsa iste fugit, dicta expedita, eos aspernatur. 
                    Perferendis, sint quis?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste molestiae aut dolores praesentium fugiat laudantium iusto magni.
                </p>
            </div>
            <div class="texto">
                <div class="imagen">
                    <img src="../img/perro4.jpg" alt="">
                    <h1>Lulo</h1>
                </div>
            </div>
        </a>
    </section>
    <div class="separation"></div>
    
</body>
</html>