<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil animales</title>
  <link rel="stylesheet" href="../Css/styles13.css">
</head>
<body>
  
  <header>
    <div class="blanco"></div>
        <div class="dec"></div>
        <div class="dec2"></div>
        <h1>Perfil animales</h1>
        <img src="/img/logo.png" alt="Logo" class="logo">
</header>
<div class="menu">
  <div class="menu1">
      <nav>
          <ul class="list">

              <li>
                  <a href="/templates/frame_18.html"><img src="../img/iconcasa.png" alt=""></a>
              </li>
              <li>
                  <a href="/templates/frame_20.html"><img src="../img/iconoFundacion.png" alt=""></a>
              </li>
          </ul>
      </nav>
  </div>
</div>
<div class="cont-todo">
  
  <div class="contenedor-principal">
    <div class="tarjeta-mascota">
      <img src="/img/perro3.jpg" alt="Foto de la mascota" class="foto-mascota">
      <div class="detalles-mascota">
        <h2>Juan</h2>
        <h3>Ubicación:</h3>
        <p>Cra. 43 #74 a 43 sur, Bogotá</p>
        <h3>Número:</h3>
        <p>3142930088</p>
        <h3>Raza:</h3>
        <p>Pastor Aleman</p>
        <h3>Edad: 4</h3>
      </div>
    </div>

    <div class="informacion-extra">
      <h2>Información detallada:</h2>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
      <h4>¡Adoptame!</h4>
    </div>
  </div>

  <div class="contenedor-foto-principal">
    <img src="/img/perro3.jpg" alt="Foto grande de la mascota" class="foto-principal">
    <button class="boton-adoptar">Adoptar</button>
  </div>

</div>

  <footer>
    <div class="carrusel">
      <div class="elemento-carrusel"> 
        <img src="/img/mosacio 1.jpg" alt="Foto 1">
        <p class="nombre-foto">Buddy</p>
      </div>
      <div class="elemento-carrusel">
        <img src="/img/mosaico 2.jpg" alt="Foto 2">
        <p class="nombre-foto">Luna</p>
      </div>
      <div class="elemento-carrusel">
        <img src="/img/mosaixo 3.jpg" alt="Foto 3">
        <p class="nombre-foto">Rocky</p>
      </div>
      <div class="elemento-carrusel">
        <img src="/img/mosaico 4.jpg" alt="Foto 4">
        <p class="nombre-foto">Leo</p>
      </div>
    </div>
  </footer>
</body>
</html>
