<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundaciones</title>
    <link rel="stylesheet" href="../Css/styles.css">
</head>
<body>
    <header>
        <div class="blanco"></div>
        <div class="dec"></div>
        <div class="dec2"></div>
        <h1>Cliente</h1>
        <img src="../img/logo.png" alt="Logo" class="logo">
    </header>
    <main>
        <section class="fundacion">
            <div class="menu">
                <nav>
                    <ul class="list">
                        <li>
                            <a href="../templates/Home.html"><img src="../img/iconcasa.png" alt=""></a>
                        </li>
                        <li>
                            <a href="../templates/frame_17.html"><img src="../img/iconperro.png" alt=""></a>
                        </li>
                    </ul>
                </nav>
            </div>
        <h2 class="hFundacion">Fundaciones</h2>
        </section>
        <div class="divicion1"></div>
        <div class="divicion2"></div>

        <section class="publicacion">
            <div class="contenedorF">
            <div class="cabecera_cont">
            <img src="../img/icono.png" alt="" class="icono">
            <h3>Nombre</h3>
                <a href="./perfilFundacion.html" class="go">
                <img src="../img/go.png" alt="" >
                </a>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                industry. Lorem Ipsum has been the  industry's standard dummy text ever since
                 the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 
                </p>
            <img src="../img/fundacion.jpeg" alt="" class="img_public">
            </div>

            <div class="contenedorF">
            <div class="cabecera_cont">
            <img src="../img/icono.png" alt="" class="icono">
            <h3>Nombre</h3>
            <a href="./perfilFundacion.html" class="go">
            <img src="../img/go.png" alt="" >
            </a>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                industry. Lorem Ipsum has been the  industry's standard dummy text ever since
                 the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 
                </p>
            <img src="../img/2img.jpg" alt="" class="img_public">
            </div>

            <div class="contenedorF">
            <div class="cabecera_cont">
            <img src="../img/icono.png" alt="" class="icono">
            <h3>Nombre</h3>
                <a href="../templates/perfilFundacion.html" class="go">
                <img src="../img/go.png" alt="" >
                </a>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                industry. Lorem Ipsum has been the  industry's standard dummy text ever since
                 the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 
                </p>
            <img src="../img/animales.jpg" alt="" class="img_public">
            </div>
        </section>

        <div class="divicion1"></div>
    </main>
</body>
</html>