<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/styles.css">
    <title>Inicio de Sesión</title>
</head>

<header>
    <div class="blanco"></div>
    <div class="dec"></div>
    <div class="dec2"></div>
    <h1>Inicio de Sesión</h1>
    <img src="../img/logo.png" alt="Logo" class="logo">
</header>

<body class="frame_743">

    
    <div class="contenedor-registros">
        <div class="registro">
            <form method="post">
                <div class="texto">
                </div>
                <div class="username">
                    <input type="email" required>
                    <label>Correo</label>
                </div>
                <div class="contraseña">
                    <input type="password" id="contraFund" required>
                    <label>Contraseña</label>
                </div>
                <div class="recordar">¿Olvidó su contraseña?</div>
                <input type="submit" value="iniciarSecion" onclick="iniciarSesion()">
                <div class="IniciarSesion">
                    Quiero hacer el <a href="../templates/registroUsuario.html">Registro</a>
                </div>
            </form>
        </div>
    </div>
    
    <script src="../JS/scrip-in.js"></script>
</body>
</html>
